In [1]:
import pandas as pd
import numpy as np

In [2]:
from numpy.random import randn

In [5]:
np.random.seed(101) # same random no as other get

In [7]:
df = pd.DataFrame(data=randn(5, 4), index=["a", "b", "c", "d", "e"], columns=["w", "x", "y", "z"])

In [8]:
df

          w         x         y         z
a  0.302665  1.693723 -1.706086 -1.159119
b -0.134841  0.390528  0.166905  0.184502
c  0.807706  0.072960  0.638787  0.329646
d -0.497104 -0.754070 -0.943406  0.484752
e -0.116773  1.901755  0.238127  1.996652

In [11]:
df["w"] #series

a    0.302665
b   -0.134841
c    0.807706
d   -0.497104
e   -0.116773
Name: w, dtype: float64

In [12]:
type(df["w"])

pandas.core.series.Series

In [13]:
df.w

a    0.302665
b   -0.134841
c    0.807706
d   -0.497104
e   -0.116773
Name: w, dtype: float64

In [14]:
df[["w", "z"]]

          w         z
a  0.302665 -1.159119
b -0.134841  0.184502
c  0.807706  0.329646
d -0.497104  0.484752
e -0.116773  1.996652

In [15]:
df["new"] = df["w"] * df["x"]

In [16]:
df

          w         x         y         z       new
a  0.302665  1.693723 -1.706086 -1.159119  0.512631
b -0.134841  0.390528  0.166905  0.184502 -0.052659
c  0.807706  0.072960  0.638787  0.329646  0.058930
d -0.497104 -0.754070 -0.943406  0.484752  0.374851
e -0.116773  1.901755  0.238127  1.996652 -0.222074

In [22]:
df.drop("new", axis=1, inplace=True)

In [24]:
df

          w         x         y         z
a  0.302665  1.693723 -1.706086 -1.159119
b -0.134841  0.390528  0.166905  0.184502
c  0.807706  0.072960  0.638787  0.329646
d -0.497104 -0.754070 -0.943406  0.484752
e -0.116773  1.901755  0.238127  1.996652

In [27]:
df.drop("e")

          w         x         y         z
a  0.302665  1.693723 -1.706086 -1.159119
b -0.134841  0.390528  0.166905  0.184502
c  0.807706  0.072960  0.638787  0.329646
d -0.497104 -0.754070 -0.943406  0.484752

In [28]:
df.shape

(5, 4)

In [30]:
df.loc['a']

w    0.302665
x    1.693723
y   -1.706086
z   -1.159119
Name: a, dtype: float64

In [31]:
df.iloc[2]

w    0.807706
x    0.072960
y    0.638787
z    0.329646
Name: c, dtype: float64

In [32]:
df.loc["b", "x"]

0.39052784273374097

In [33]:
df.iloc[0, 2]

-1.7060859307350775

In [35]:
df.loc[["b", "c"], ["x", "y"]]

          x         y
b  0.390528  0.166905
c  0.072960  0.638787