In [1]:
import pandas as pd
import numpy as np

In [2]:
from numpy.random import randn

In [3]:
np.random.seed(101) # same random no as other get

In [4]:
df = pd.DataFrame(data=randn(5, 4), index=["a", "b", "c", "d", "e"], columns=["w", "x", "y", "z"])

In [5]:
df

          w         x         y         z
a  2.706850  0.628133  0.907969  0.503826
b  0.651118 -0.319318 -0.848077  0.605965
c -2.018168  0.740122  0.528813 -0.589001
d  0.188695 -0.758872 -0.933237  0.955057
e  0.190794  1.978757  2.605967  0.683509

In [7]:
df > 0.5

       w      x      y      z
a   True   True   True   True
b   True  False  False   True
c  False   True   True  False
d  False  False  False   True
e  False   True   True   True

In [8]:
booldf = df > 0.5

In [10]:
# df[booldf]
df[df > 1]

         w         x         y   z
a  2.70685       NaN       NaN NaN
b      NaN       NaN       NaN NaN
c      NaN       NaN       NaN NaN
d      NaN       NaN       NaN NaN
e      NaN  1.978757  2.605967 NaN

In [11]:
df

          w         x         y         z
a  2.706850  0.628133  0.907969  0.503826
b  0.651118 -0.319318 -0.848077  0.605965
c -2.018168  0.740122  0.528813 -0.589001
d  0.188695 -0.758872 -0.933237  0.955057
e  0.190794  1.978757  2.605967  0.683509

In [12]:
df["x"] > 0.5

a     True
b    False
c     True
d    False
e     True
Name: x, dtype: bool

In [15]:
df[df["x"] > 0.5]

          w         x         y         z
a  2.706850  0.628133  0.907969  0.503826
c -2.018168  0.740122  0.528813 -0.589001
e  0.190794  1.978757  2.605967  0.683509

In [16]:
df[df["z"] < 0]

          w         x         y         z
c -2.018168  0.740122  0.528813 -0.589001

In [19]:
resultdf = df[df["w"] > 0]

In [20]:
resultdf

          w         x         y         z
a  2.706850  0.628133  0.907969  0.503826
b  0.651118 -0.319318 -0.848077  0.605965
d  0.188695 -0.758872 -0.933237  0.955057
e  0.190794  1.978757  2.605967  0.683509

In [23]:
resultdf[["x", "y"]]

          x         y
a  0.628133  0.907969
b -0.319318 -0.848077
d -0.758872 -0.933237
e  1.978757  2.605967

In [27]:
df[df["w"] > 0][["x", "y"]]

          x         y
a  0.628133  0.907969
b -0.319318 -0.848077
d -0.758872 -0.933237
e  1.978757  2.605967

In [34]:
boolsr = df["w"] > 0
result = df[boolsr]
result[["x", "y"]]

          x         y
a  0.628133  0.907969
b -0.319318 -0.848077
d -0.758872 -0.933237
e  1.978757  2.605967

In [41]:
# df[(df["w"] > 0.5) and (df["x"] > 0.5)] gives error
df[(df["w"] > 0.5) & (df["x"] > 0.5)][["w", "x"]]

         w         x
a  2.70685  0.628133

In [46]:
df[(df["w"] > 0.5) | (df["x"] > 0.5)][["w", "x"]]

          w         x
a  2.706850  0.628133
b  0.651118 -0.319318
c -2.018168  0.740122
e  0.190794  1.978757

In [47]:
df.reset_index()

  index         w         x         y         z
0     a  2.706850  0.628133  0.907969  0.503826
1     b  0.651118 -0.319318 -0.848077  0.605965
2     c -2.018168  0.740122  0.528813 -0.589001
3     d  0.188695 -0.758872 -0.933237  0.955057
4     e  0.190794  1.978757  2.605967  0.683509

In [48]:
new_index = "PAK AUS CAN JPN CHI".split()

In [49]:
new_index

['PAK', 'AUS', 'CAN', 'JPN', 'CHI']

In [50]:
df["states"] = new_index

In [51]:
df

          w         x         y         z states
a  2.706850  0.628133  0.907969  0.503826    PAK
b  0.651118 -0.319318 -0.848077  0.605965    AUS
c -2.018168  0.740122  0.528813 -0.589001    CAN
d  0.188695 -0.758872 -0.933237  0.955057    JPN
e  0.190794  1.978757  2.605967  0.683509    CHI

In [52]:
df.set_index("states")

               w         x         y         z
states
PAK     2.706850  0.628133  0.907969  0.503826
AUS     0.651118 -0.319318 -0.848077  0.605965
CAN    -2.018168  0.740122  0.528813 -0.589001
JPN     0.188695 -0.758872 -0.933237  0.955057
CHI     0.190794  1.978757  2.605967  0.683509

In [53]:
df

          w         x         y         z states
a  2.706850  0.628133  0.907969  0.503826    PAK
b  0.651118 -0.319318 -0.848077  0.605965    AUS
c -2.018168  0.740122  0.528813 -0.589001    CAN
d  0.188695 -0.758872 -0.933237  0.955057    JPN
e  0.190794  1.978757  2.605967  0.683509    CHI