In [11]:
import numpy as np
import pandas as pd

In [12]:
outside = ["G1", "G1", "G1", "G2", "G2", "G2"]
inside = [1, 2, 3, 1, 2, 3]
hier_index = list(zip(outside, inside))
hier_index = pd.MultiIndex.from_tuples(hier_index)

In [13]:
hier_index

MultiIndex(levels=[['G1', 'G2'], [1, 2, 3]],
           codes=[[0, 0, 0, 1, 1, 1], [0, 1, 2, 0, 1, 2]])

In [18]:
df = pd.DataFrame(np.random.randn(6, 2), hier_index, ["a", "b"])

In [19]:
df

             a         b
G1 1  0.651835  0.242806
   2 -0.938482 -0.425236
   3  0.494738  0.291910
G2 1  0.126391 -2.098890
   2 -0.270001 -2.175836
   3 -1.648793 -0.740837

In [21]:
df.loc["G1"]

          a         b
1  0.651835  0.242806
2 -0.938482 -0.425236
3  0.494738  0.291910

In [22]:
df.loc["G1"].loc[1]

a    0.651835
b    0.242806
Name: 1, dtype: float64

In [25]:
df.index.names = ["Groups", "Numbers"]

In [26]:
df

                       a         b
Groups Numbers
G1     1        0.651835  0.242806
       2       -0.938482 -0.425236
       3        0.494738  0.291910
G2     1        0.126391 -2.098890
       2       -0.270001 -2.175836
       3       -1.648793 -0.740837

In [27]:
df.loc["G2"].loc[2]["b"]

-2.1758357194594766

In [30]:
df.xs("G2")

                a         b
Numbers
1        0.126391 -2.098890
2       -0.270001 -2.175836
3       -1.648793 -0.740837

In [31]:
df.xs(1, level="Numbers")

               a         b
Groups
G1      0.651835  0.242806
G2      0.126391 -2.098890