In [3]:
import numpy as np
import pandas as pd

In [5]:
labels = ['a', 'b', 'c']

In [6]:
my_data = [10, 20, 30]

In [7]:
arr = np.array(my_data)

In [8]:
d = {'a': 10, 'b': 20, 'c': 30}

In [9]:
pd.Series(data=my_data)

0    10
1    20
2    30
dtype: int64

In [10]:
pd.Series(data=my_data, index=labels)

a    10
b    20
c    30
dtype: int64

In [12]:
pd.Series(arr, labels)

a    10
b    20
c    30
dtype: int64

In [13]:
pd.Series(d)

a    10
b    20
c    30
dtype: int64

In [26]:
sr1 = pd.Series(labels)
sr1[1]

'b'

In [27]:
pd.Series([sum, print, len])

0      <built-in function sum>
1    <built-in function print>
2      <built-in function len>
dtype: object

In [28]:
methods = pd.Series([sum, print, len])

In [29]:
methods[1]

In [30]:
methods[1]("Hello World")

Hello World

In [31]:
sr1 = pd.Series([1, 2, 3], ['PAK', 'AUS', 'ENG'])

In [32]:
sr1

PAK    1
AUS    2
ENG    3
dtype: int64

In [33]:
sr2 = pd.Series([1, 3, 2], ['PAK', 'AUS', 'AFG'])

In [34]:
sr2

PAK    1
AUS    3
AFG    2
dtype: int64

In [35]:
sr1["PAK"]

1

In [36]:
sr1 + sr2

AFG    NaN
AUS    5.0
ENG    NaN
PAK    2.0
dtype: float64